@font-face{
    font-family: "font";
    src:url("../asset/font.woff2")format("woff2"),
        url("../asset/font.woff")format("woff");
}
@font-face{
    font-family: "TTIT";
    src: url("../asset/TTIT.woff2")format("woff2"),
        url("../asset/TTIT.woff")format("woff");
}

@font-face{
    font-family: "TTNL";
    src: url("../asset/TTNL.woff2")format("woff2"),
        url("../asset/TTNL.woff")format("woff");
}

.TTBBFont{
    font-family: "font";
    font-size: 4em;
}

.TTITFont{
    font-family: TTIT;
    font-size: 1.5em;
}

.TTNLFont{
    font-family: TTNL;
}

.flex{
    display: flex;
    flex-wrap:wrap;
}

.responsive{
    position: relative;
    width:100%;
    height:0;
    padding-top:75%;
}
.responsive iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.scaleframe iframe{
    transform: scale(0.5,0.5);
    transform-origin: 0 0;

}

.resimg img{
    width:65%;
}
